<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">APPEL VIDEO</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table-upgrade">
                            <iframe id="inlineFrameExample"
                                title="Inline Frame Example"
                                width="100%"
                                height="403px"
                                src="./assets/html/webcam.html">
                            </iframe>
                        </div>
                        <button mat-raised-button type="submit" class="btn btn-danger pull-right">Racrochez</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <div>
  </div> 
<div>
 </div>